$bulma: "../../bulma.module.scss";

.name {
  composes: title from $bulma;
  composes: is-3 from $bulma;
  composes: is-size-4-mobile from $bulma;
  composes: is-marginless from $bulma;
  border-color: transparent;
  background-color: transparent;
}

.body {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
