$bulma: "../../bulma.module.scss";

.name {
  composes: title from $bulma;
  composes: is-3 from $bulma;
  composes: is-marginless from $bulma;
  border-color: transparent;
  background-color: transparent;
}

.body {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
