$bulma: "../../bulma.module.scss";
@import "../../bulma/bulma-util";

.name {
  composes: title from $bulma;
  composes: is-3 from $bulma;
  composes: is-size-4-mobile from $bulma;
  composes: is-marginless from $bulma;
  border-color: transparent;
  background-color: transparent;
  line-height: 1.3em;
}

.body {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

// copied from standard layout

.container {
  // background-color: rgba(pink, .25 );
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.leftElement {
  // background-color: rgba(green, .25  );
  flex-grow: 0;
  flex-shrink: 1;
}

.rightSide {
  // background-color: rgba(aqua, .25 );
  flex-grow: 0;
  flex-shrink: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.rightElement {
  // background-color: rgba(yellow, .25 );
  flex-grow: 1;
  margin: .1rem;
}
