$bulma: "../../bulma.module.scss";
@import "../../bulma/bulma-util";


.card {
  composes: message from $bulma;
  position: relative;
}

.cardInterior {
  composes: message-body from $bulma;
}

.active {
  composes: is-primary from $bulma;
}

.flashing {
  composes: is-link from $bulma;
}

.iconBtn {
  position: absolute;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  padding: .1rem;
  &:active {
    padding-right: .05rem;
    padding-left: .15rem;
  }
}

.deleteBtn {
  composes: iconBtn;
  top: 0.2rem;
  right: 0.2rem;
}

.copyBtn {
  composes: iconBtn;
  top: 2rem;
  right: 0.2rem;
}

.icon {
  height: 1rem;
  width: 1rem;
  fill: $grey-light;
  
  
  .iconBtn:hover &, .iconBtn:focus & {
    fill: $danger;
  }
  
  .iconBtn:active & {
    fill: $grey-dark;
  }
}