$bulma: "../../bulma.module.scss";
@import "../../bulma/bulma-util";

.mainSection {
  flex-grow: 1;
  composes: section from $bulma;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start
}

