$bulma: "../../../bulma.module.scss";

.field {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  composes: input from $bulma;
  width: auto !important;
  height: auto !important;
}

.flash {
  // border-color: red;
  composes: is-danger from $bulma;
}

.label {
  // composes: fieldText;
}

.fieldInput {
  border-color: transparent;
  composes: is-size-6 from $bulma;
  margin-left: 0.1em;
}
