$bulma: "../../../bulma.module.scss";
@import "../../../bulma/bulma-util";

.container {
  // background-color: rgba(pink, .25 );
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.left {
  // background-color: rgba(green, .25  );
  flex-grow: 0;
  flex-shrink: 1;
}

.right {
  // background-color: rgba(aqua, .25 );
  flex-grow: 0;
  // @include mobile { flex-grow: 1; }
  flex-shrink: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.rightElement {
  // background-color: rgba(yellow, .25 );
  flex-grow: 1;
  margin: .1rem;
}
